/* Coolors Exported Palette - coolors.co/dbdcdd-88bc8b-1b3022-2a3e2b-a9e4af */

$color1: #dbdcdd; //rgba(219, 220, 221, 100)
$color2: #88bc8b; //rgba(136, 188, 139, 100)
$color3: #1b3022; //rgba(27, 48, 34, 100)
$color4: #2a3e2b; //rgba(42, 62, 43, 100)
$color5: #a9e4af; //rgba(169, 228, 175, 100)